.nav-link {
  transition: text-shadow 500ms ease-in-out;
}
.nav-link:hover,.nav-link:focus{
  text-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
}
.navbar-brand{
  transition: text-shadow 250ms ease-in-out;
}
.navbar-brand:hover{
  text-shadow:  2px 2px 5px black;
}
.card-img-top{
  width: 200px;
  height: 200px;
  display: block;
  transition: box-shadow  height 2000ms ease;

}
.card-img-top:hover,.card-img-top:focus{
  box-shadow:  10px 10px rgba(0, 0, 0, 0.5);
  height: 220px;
}

	


